@tailwind base;
@tailwind components;
@tailwind utilities;

.str-chat__channel {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #ffffff, #daffe7);
  height: 100%;
}

.str-chat__container {
  max-width: 1400px;
  width: 100%;
  height: 80% !important;
  margin: 0 auto !important;
  border-radius: 10px;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.20);
  overflow: hidden;
}

.str-chat__list {
  background-color: #ffffff;
  padding: 10px;
}

.str-chat__list-notifications {
  display: none;
}

.str-chat__message-input {
  border-top: 1px solid #ddd;
}